* {
	margin: 0;
	padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background-color: #FFFFFF;
    color: #000000;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}
body.customize-support{
	margin-top: 32px;
}
ul li {
    list-style: none outside none;
}
img {
	border: 0;
}
label {
	cursor: pointer;
}
hr {
    border-color: #dddddd;
    border-style: none none solid;
    border-width: medium medium 1px;
    height: 1px;
    size: 1px;
	margin: 8px 0;
}
hr.m {
	margin-left: 4%;
	margin-right: 4%;
}
.hr50 {
	width: 50%;
}
h1 {
    color: #1c4f9d;
    font-family: 'PT Sans', sans-serif;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
}
.static-page h1 {
	margin-bottom: 15px;
}
h2, .h2 {
    font-size: 25px;
    font-weight: normal;
    line-height: 31px;
	color: #1c4f9d;
	font-family: 'PT Sans', sans-serif;
}
.h2 {
	 font-size: 24px;
}
h3 {
    color: #1c4f9d;
    display: inline-block;
   font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 24px;
}
h4 {
    color: #1c4f9d;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: 800;
    line-height: 21px;
    margin: 15px 0;
}
h5 {
    color: #000000;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}
strong {
    border: 2px solid #c6d3e6;
    color: #1c4f9d;
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    margin: 15px 0;
    padding: 10px 15px;
}
.upp {
	text-transform: uppercase;
}
a {
	color: #1c4f9d;
}
a:hover {
	color:#ff6c00;
	text-decoration: none;
}
a.nolink {
	text-decoration: none;
	color: #000000;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="tel"], textarea {
    background: #ffffff;
	border: 1px solid #cccccc;
	font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: normal;
    outline: medium none;
    padding: 7px 5px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) inset;
	border-radius: 1px;
}
input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
	background: #FFFFFF;
	border: 1px solid #1c4f9d;
}
input.error[type="text"], input.error[type="password"], input.error[type="email"], input.error[type="tel"], textarea.error {
    border: 1px solid rgba(28, 79, 157, 0.4);
    box-shadow: 0 0 0 3px #f9cfcf;
}
textarea {
	resize: vertical;
}
select {
    padding: 4px 2px;
    font-size: 16px;
}
select option {
    font-size: 15px;
    padding: 3px 10px;
}
.inpTitle {
	font-size: 15px;
	margin-bottom: 5px;
}
.button {
    background: #FFFFFF;
    border: 2px solid #a4b9d8;
    border-radius: 3px;
	font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 7px 25px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
}
.button:hover {
	border: 2px solid #4972b1;
	text-decoration: none;
	color: #1c4f9d;
}
.button:active {
	margin: 1px 0 -1px 0;
	box-shadow: 0 0 8px rgba(0,0,0,0.3) inset;
}
.orangeButton {
	background: #ff6c00!important;
	border-color: #ff6c00!important;
    color: #ffffff!important;
    font-size: 20px!important;
    padding: 7px 55px!important;
}
.orangeButton:hover {
	background: #ff7916!important;
	border-color: #ff7916!important;
}
::-webkit-input-placeholder {
	color: #555555;
	font-style: normal;
	font-size:14px;
}
*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    font-style: normal;
}
placeholder {
	color: #555555;
	font-style: normal;
	font-size:14px;
}
.cf:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.cf {
    display: block;
}
.center {
	text-align: center;
}
.tar {
	text-align: right;
}
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
.taj {
	text-align: justify;
}
.left {
	float:left;
}
.right {
	float:right;
}
.auto {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.light {
	font-weight: 300;
}
.white {
	color: #FFFFFF;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}
.black {
	color: #000000;
}
.blue {
	color: #1c4f9d;
}
.red {
	color: #ff3434;
}
.orange {
	color:#ff6c00;
}
.gray {
	color: #777777;
}
.dotted {
    border-bottom: 1px dotted #1c4f9d;
    text-decoration: none;
}
.dotted:hover {
	border-bottom: 1px dotted #ff6c00;
	text-decoration:none;
}
.pt {
	font-family: 'PT Sans', sans-serif;
}
.i {
	font-style: italic;
}
.b {
	font-weight:bold;
}
.attention {
	border: 1px solid #ffa1a1;
	padding: 15px 20px;
	margin: 20px 0;
}
.m5 {
	margin-top:5px;
}
.m10 {
	margin-top:10px;
}
.m20 {
	margin-top:20px;
}
.m30 {
	margin-top:30px;
}
.m40 {
	margin-top:40px;
}
.m60 {
	margin-top:60px;
}
.m80 {
	margin-top:80px;
}
.fs15 {
	font-size:15px;
	line-height: 24px;
}
.fs16 {
	font-size:16px;
	line-height: 21px;
}
.fs18 {
	font-size:18px;
	line-height: 25px;
}
.fs19 {
	font-size:19px;
	line-height: 26px;
}
.fs20 {
	font-size: 20px;
	line-height: 25px;
}
.fs22 {
	font-size: 22px;
	line-height: 31px;
}
.fs23 {
	font-size: 23px;
	line-height: 33px;
}
.fs26 {
	font-size: 26px;
	line-height: 34px;
}
.fs30 {
	font-size: 30px;
	line-height: 35px;
}
.dn {
	display: none;
}
.db {
	display: block;
}
.dib {
	display: inline-block;
}
.error {
    color: #FF7575;
    font-size: 13px;
}
.error_tooltip {
    color: #ff3434;
    display: inline-block;
    font-size: 13px;
    line-height: 14px;
    margin-top: 3px;
}
label.error {
    background: #ff7575;
    border-radius: 0 10px 10px 15px;
    color: #ffffff;
    margin: 42px 0 0 -31px;
    padding: 3px 10px;
    position: absolute;
}
.page {
    margin: 0 auto;
    max-width: 100%;
    min-width: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
	min-height: 800px;
}
.block {
    margin-left: auto;
	margin-right: auto;
    max-width: 970px;
	min-width: 100px;
    padding: 0 5px;
	position: relative;
}
ul.li2 li{
	float:left;
	width:50%;
}
ul.li3 li{
	float:left;
	width:33.333%;
}
ul.li4 li{
	float:left;
	width:25%;
}
ul.o-list li, .static-page .cont-r .s-p-content ul li {
	padding: 5px 0 5px 17px;
    position: relative;
	color: #333333;
}
ul.o-list li {
	padding: 5px 0 5px 17px;
}
ul.o-list li:before, .static-page .cont-r .s-p-content ul li:before  {
	background: url("../img/sprite.png") no-repeat scroll -165px -4px rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 9px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 9px;
}
.static-page .cont-r .s-p-content ul:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.static-page .cont-r .s-p-content ul.border-li {
	border: 1px solid #e5e5e5;
	margin: 10px 0 20px;
	border-radius: 3px;
}
.static-page .cont-r .s-p-content ul.border-li li {
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin: 0;
    padding: 7px 20px 7px 39px;
    width: 100%;
}
.static-page .cont-r .s-p-content ul.border-li li:last-child {
	border-bottom: 0;
}
.static-page .cont-r .s-p-content ul.border-li li:before {
    left: 19px;
	top: 14px;
}
.col4 {
	width:23%;
	float:left;
}
.col3 {
	width:31.3333%;
	float:left;
}
.col3:nth-child(3){
    margin-left: 2%;
}
.col2 {
	width:48%;
	float:left;
}
.col6 {
	width:64.6666%;
	float:left;
}
.col7 {
	width:73%;
	float:left;
}
.col {
	margin-left: 4%;
}
.col:first-child {
	margin-left: 0;
}
.head {
	padding: 20px 0 30px;
}
.head .block {
	position: static;
}
.header .logo {
	float: left;
	width: 17%;
}
.header .header-right {
	float: left;
	width: 83%;
}
.header .header-right .region {
	float: left;
	width: 40%;
}
.header .header-right .region ul li {
	float: left;
	padding-right: 10px;
	font-size: 13px;
} 
.header .header-right .search {
	float: left;
	width: 60%;
	text-align: right;
}
.header .header-right .search input {
	border-radius: 100px;
    padding: 3px 30px 3px 15px;
    width: 115px;
	font-size: 13px;
	transition-duration: 0.3s;
	box-sizing: content-box;
}
.header .header-right .search input:focus {
    width: 220px;
}
.header .header-right .search .search-input {
	position: relative;
}
.header .header-right .search .search-input .search-btn {
    padding: 5px;
    position: absolute;
    right: 3px;
    top: 1px;
	cursor: pointer;
}
.header .header-right .search .search-input .search-btn i {
	background: url("../img/sprite.png") no-repeat;
    display: block;
    height: 13px;
    width: 13px;
}
.search-input ::-webkit-input-placeholder {
	font-size: 13px;
}
.search-input *::-moz-placeholder {
	font-size: 13px;
}
.search-input placeholder {
	font-size: 13px;
}
.hor-menu {
    height: 40px;
}
.hor-menu > ul {
	cursor: default;
    position: relative;
    text-align: justify;
}
.hor-menu > ul:after {
    content: "";
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
	text-align: justify;
}
.hor-menu > ul > li {
    text-align: justify;
	display: inline-block;
    list-style-type: none;
    margin: 0;
    vertical-align: top;
	position: relative;
}
.hor-menu > ul > li > a {
    cursor: pointer;
    display: block;
    font-size: 23px;
    padding: 10px 0;
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	position: relative;
}
.hor-menu > ul > li > a > span {
    border-bottom: 1px solid #d2dceb;
}
.hor-menu > ul > li.dropdown > a:after {
	background: url("../img/sprite.png") no-repeat -187px -3px;
    color: rgba(28, 79, 157, 0.4);
    content: "";
    display: inline-block;
    font-size: 8px;
    height: 10px;
    width: 10px;
	margin-left: 3px;
	opacity: 0.3;
}
.hor-menu > ul > li.active > a > span, .hor-menu > ul > li:hover > a > span {
	border-bottom: 2px solid #ff6c00;
}
.hor-menu .drop-down-menu {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 14px 51px rgba(0, 0, 0, 0.33);
    display: none;
    left: -20px;
    padding: 10px 0;
    position: absolute;
    width: 260px;
    z-index: 1001;
}
.hor-menu ul li:hover .drop-down-menu {
	display: block;
}
.hor-menu .drop-down-menu li {
	border-bottom: 1px solid #e8edf5;
}
.hor-menu .drop-down-menu li:last-child {
	border-bottom: none;
}
.hor-menu .drop-down-menu a {	
    display: block;
    padding: 9px 20px;
	text-decoration: none;
	font-weight: 600;
}
.hor-menu .drop-down-menu a:hover {
	background: #e8edf5;
}
.hor-menu .drop-down-menu li.active a, .hor-menu .drop-down-menu li.active a:hover {
    background: #1c4f9d;
}
.hor-menu .drop-down-menu li.active a {
    color: #ffffff;
}

.header .line1 {
	margin-top: -5px;
	margin-bottom: 5px;
}
.header .line2 {
	padding: 10px 0 14px;
}
.header .line2 .order-link {
	float: left;
	width: 33.3333%;
	margin-top: -1px;
}
.header .line2 .order-link .button {
    border: 2px solid #ff6c00;
    color: #ff6c00;
    padding: 6px 25px;
}
.header .line2 .top-phones {
	float: left;
	width: 33.3333%;
}
.header .line2 .top-teaser {
	float: left;
	width: 33.3333%;
}
.header .line2 .top-phones .phones {
	margin-top: -11px;
    position: relative;
	margin-left: 30px;
}
.header .line2 .top-phones .phones .code {
	position: absolute;
	left: 0;
	top: 5px;
}
.header .line2 .top-phones .phones .code p {
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	color: #6083ba;
}
.header .line2 .top-phones .phones .number {
	padding-left: 48px;
}
.header .line2 .top-phones .phones .number span {
	color: #777777;
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}
.header .line2 .top-phones .phones .number p {
	color: #1c4f9d;
	font-size: 33px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}
.header .line2 .top-phones .phones .number p a, .footer .line2 .f-nums li a {
	text-decoration: none;
}
.header .line2 .top-teaser {
	float: right;
    max-width: 180px;
    position: relative;
	padding-top: 5px;
}
.header .line2 .top-teaser img {
	position: absolute;
	max-width: 31px;
}
.header .line2 .top-teaser p {
    font-weight: 600;
    height: 33px;
    line-height: 17px;
    margin-top: -2px;
    overflow: hidden;
    padding-left: 40px;
}
.content .cont-l {
	float: left;
	width: 220px;
}
.menu-left > ul > li > a {
    background: #edf1f7 ;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 2px;
    display: block;
    padding: 7px 15px;
    text-decoration: none;
}
.menu-left > ul > li > a:hover {
	background: #dde5f0;
}
.menu-left > ul > li.active > a {
	background: #1c4f9d;
    color: #FFFFFF;
    font-weight: 600;
	border-bottom: 0 none;
}
.menu-left .level2 li a {
	border-radius: 2px;
    display: block;
    line-height: 15px;
    padding: 6px 15px 6px 16px;
    position: relative;
    text-decoration: none;
}
.menu-left .level2 li a:before {
	background: url("../img/sprite.png") no-repeat -177px -3px;
    content: "";
    display: block;
    height: 10px;
    left: 3px;
    position: absolute;
    top: 8px;
    width: 10px;
}
.menu-left .level2 li.active a , .menu-left .level2 li a:hover{
	background: #e8edf5;
}
.menu-left .level2 li.active a  {
	font-weight: 600;
}
.content .cont-l .banner-left {
	padding: 30px 0;
}
.content .cont-l .banner-left img {
	width: 100%;
	max-width: 220px;
}
.content .cont-r {
    float: left;
    margin-left: 20px;
    width: 730px;
}
.content .cont-r .main-slider {
	border: 1px solid #d2dceb;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	max-height: 194px;
}
.content .cont-r .main-slider ul {
    width: 4000px;
}
.content .cont-r .main-slider ul li {
    float: left;
}
.content .cont-r .main-slider a img {
	display: block;
	width: 100%;
}
.content .cont-r .main-slider .slider-controls {
	bottom: 5px;
    position: absolute;
    right: 10px;
}
.content .cont-r .main-slider .slider-controls span {
	cursor: pointer;
	border: 2px solid #1c4f9d;
	width: 9px;
	height: 9px;
	display: inline-block;
	border-radius: 100%;
	margin: 0 1px;
}
.content .cont-r .main-slider .slider-controls span:hover {
	border: 2px solid #ff6c00;
}
.content .cont-r .main-slider .slider-controls .active span {
	background: #1c4f9d;
	border: 2px solid #1c4f9d;
}
.content .cont-r p {
    margin-bottom: 10px;
}
.content .cont-r h2 {
	margin-top: 20px;
}
.rewiews-list {
	margin-top: 15px;
}
.rewiews-list ul li {
	border: 2px solid #c6d3e6;
	border-radius: 3px;
	margin-bottom: 30px;
	padding: 15px;
	position: relative;
}
.rewiews-list ul li:after {
	background: url("../img/sprite.png") no-repeat -81px -5px #ffffff;
    bottom: -15px;
    content: "";
    display: block;
    height: 15px;
    left: 20px;
    position: absolute;
    width: 10px;
}
.rewiews-list ul li a {
	cursor:pointer;
}
.rewiews-list .see-all-rew {
    border-bottom: 2px solid #c6d3e6;
    height: 18px;
    margin: 20px 0 40px;
    text-align: center;
}
.rewiews-list .see-all-rew a {
	box-shadow: 0 0 0 10px #FFFFFF;
}
.doc-slider {
	margin-top: 15px;
	position: relative;
}
.doc-slider .doc-sl-control {
	position: absolute;
    right: 0;
    top: -37px;
}
.doc-slider .doc-sl-control span {
	display: inline-block;
	width: 12px;
	height: 15px;
	margin-left: 5px;
	cursor: pointer;
	opacity: 0.5;
}
.doc-slider .doc-sl-control span:hover {
	opacity: 1;
}
.doc-slider .doc-sl-control span:active {
	margin-bottom: -1px;
}
.doc-slider .doc-sl-control span.doc-sl-left {
	background: url("../img/sprite.png") no-repeat -29px 0;
}
.doc-slider .doc-sl-control span.doc-sl-right {
	background: url("../img/sprite.png") no-repeat -18px 0;
}
.doc-sl-items {
	width: 227px;
	overflow: hidden;
	margin: 0 auto;
}
.doc-slider ul {
	width: 5000px;
}
.doc-slider ul li {
	float: left;
	text-align: center;
	max-width: 227px;
	position:relative;
}
.doc-slider ul li a {
	display: block;
}
.doc-slider ul li a.see-all-docs {
    border: 2px solid #8da7ce;
    border-radius: 3px;
    display: inline-block;
    font-size: 22px;
    line-height: 26px;
    padding: 78px 15%;
    width: 68%;
}
.doc-slider ul li a .border {
	border: 2px solid #8da7ce;
	max-height: 204px;
	overflow: hidden;
	border-radius: 3px;
}
.doc-slider ul li a p.img {
	border: 2px solid #FFFFFF;
	max-height: 200px;
	overflow: hidden;
}
.doc-slider ul li a img {
	width: 100%;
	margin-top: -10px;
}
.doc-slider ul li a p.name {
    font-weight: 600;
    margin: 15px 0 5px;
}
.doc-q-main {
	padding: 15px 0;
	background: #eff4fa;
	margin: 30px 0 0;
	text-align: center;
}
.main-bottom-order {
	background: #eff4fa;
	padding: 15px;
	text-align: center;
	margin: 20px 0;
}
.footer {
    border-top: 2px solid #c6d3e6;
    margin-top: 50px;
    padding: 0 0 30px;
}
.footer .line1 {
	padding: 5px 0 10px;	
}
.footer  .hor-menu .drop-down-menu {
    bottom: 59px;
	border-radius: 15px 15px 15px 0;
	margin-left: -20px;
}
.footer .hor-menu > ul > li > a {
	font-size: 16px;
    font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.footer .mail-me {
	padding-top: 10px;
	display: block;
	float: right;
	text-decoration: none;
}
.footer .mail-me i {
    background: url("../img/sprite.png") no-repeat -47px 0;
    display: inline-block;
    height: 15px;
    margin: 0 5px -2px;
    width: 20px;
}
.footer .mail-me span {
	font-size: 16px;
    font-weight: 600;
}
.footer .line2 {
	padding: 5px 0 10px;	
}
.footer .line2  .text {
	font-size: 13px;
	font-weight: 600;
}
.footer .line2 .f-nums {
	margin-top: 5px;
}
.footer .line2 .f-nums li {
	display: inline-block;
	padding-right: 20px;
	font-size: 16px;
	font-weight: bold;
}
.footer .line2 .f-nums li a {
	color: #000000;
}
.footer .line2 .social {
	margin-top: 4px;
	text-align: right;
}
.footer .line2 .col3 .text {
	text-align: right;
}
.footer .line2 .social a {
	display: inline-block;
	margin-left: 2px;
	width: 24px;
	height: 24px;
}
.footer .line2 .social a.vk {
	background: url("../img/social-icons.png") no-repeat -24px 0;
}
.footer .line2 .social a.fb {
	background: url("../img/social-icons.png") no-repeat 0 0;
}
.footer .line2 .social a.ok {
	background: url("../img/social-icons.png") no-repeat -48px 0;
}
.footer .line2 .social a.tw {
	background: url("../img/social-icons.png") no-repeat -72px 0;
}
.footer .line3 {
	padding: 0;
}
.footer .line3 .copiright {
	color: #777777;
	font-size: 12px;
	padding-top: 5px;
}
.footer .line3 .stat {
	text-align: right;
}
.footer .line3 .stat img {
	height: 10px;
	width: auto;
}
.brcr {
	margin-bottom: 10px;
}
.brcr ul li {
	font-size: 13px;
	display: inline-block;
}
.brcr ul li:after {
    color: #cccccc;
    content: "›";
    padding: 0 5px 0 8px;
	display: inline-block;
}
.brcr ul li:last-child:after {
    content: "";
}
.brcr ul li a {
	text-decoration: none;
}
.static-page .cont-r .main-img {
	border-radius: 5px;
    box-shadow: 0 4px 2px -3px rgba(28, 79, 157, 0.84);
    float: right;
    margin: 0 0 15px 15px;
}
.static-page .cont-r blockquote {
	border-bottom: 2px solid #eeeeee;
	display: table;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.static-page .cont-r h3 {
	margin: 15px 0 10px;
}
.mob-menu {
	display: none;
}
.doctors-list {
    margin: 20px 0 0 -2%;
}
.doctors-list:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.doctors-list .item {
    float: left;
    margin-bottom: 16px;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
    width: 23%;
}

.doctors-list .item .img {
    border: 1px solid #c6d3e6;
    display: block;
	padding: 1px;
}
.doctors-list .item .img img {
    display: block;
    width: 100%;
}
.doctors-list .item .title {
    background: rgba(255, 255, 255, 0.8);
	border: 1px solid #c6d3e6;
    bottom: 0;
    color: #1c4f9d;
    display: block;
    left: 0;
    opacity: 0;
    padding: 65px 20px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
}
.doctors-list .item:hover .title {
    opacity: 1;
    top: 0;
    transition-duration: 0.2s;
}
.otd-price {
	margin: 20px 0;
	border: 2px solid #c6d3e6;
	border-radius: 5px;
}
.otd-price .tabs {
	border: 2px solid #c6d3e6;
	margin: -2px;
	border-radius: 5px 5px 0 0;
}
.otd-price .tabs span {
	border-right: 2px solid #c6d3e6;
	color: #1c4f9d;
    display: block;
    float: left;
	font-size: 15px;
    font-weight: 600;
    margin-right: -2px;
    padding: 7px 1.5%;
    text-align: center;
    width: 30.3333%;
	cursor: pointer;
}
.otd-price .tabs span:hover {
	background: #f9fbfd;
}
.otd-price .tabs span:last-child {
	border-right: 0;
	margin-right: 0;
}
.otd-price .tabs span.active {
	background: url("../img/left-menu-bg-a.png") repeat-x center bottom #f9fbfd;
	color: #000000;
	cursor: default;
}
.otd-price .otd-price-cont {
	padding: 20px;
}
.otd-price .otd-price-cont hr {
	margin: 10px -20px;
}
.table4col {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}
.table4col .line {
	border-bottom: 1px solid #e5e5e5;
}
.table4col .line:last-child {
	border-bottom: none;
}

.table4col .line .td1 {
	width: 10%;
	float: left;
	padding: 5px 4%;
}
.table4col .line .td2 {
	width: 74%;
	float: left;
	padding: 5px 4%;
}
.table4col .line .td3 {
	width: 42%;
	float: left;
	padding: 5px 4%;
}
.table4col .line .td4 {
	width: 42%;
	float: left;
	padding: 5px 4%;
	color: #1c4f9d;
}
.entry-list {
	margin: 10px 0;
}
.entry-list .entry {
	margin: 20px 0;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
}
.entry-list .entry .img {
	width: 30%;
	float: left;
	padding-top: 10px;
}
.entry-list .entry .img  img {
	width: 100%;
	box-shadow: 0 4px 2px -3px rgba(28, 79, 157, 0.84);
	border-radius: 3px;
}
.entry-list .entry .text {
	width: 65%;
	margin-left: 5%;
	float: left;
	text-align: justify;
}
.search-results .entry-list .entry .text {
    margin-left: 0;
    width: 100%;
}
.rubrika-news .entry-list .entry .text {
	width: 100%;
	margin-left: 0;
}
.entry-list .entry .text h3 {
	display: block;
	margin-top: 0;
}
.paginator {
	margin: 15px 0;
	text-align: center;
}
.paginator span, .paginator a {
    border: 2px solid #c6d3e6;
    border-radius: 3px;
    color: #1c4f9d;
    display: inline-block;
    margin: 0 2px;
    padding: 3px 10px;
	text-decoration: none;
}
.paginator a:hover {
    border: 2px solid #8da7ce;
}
.paginator span.current {
    border: 2px solid #ff6c00;
}
.paginator span.dots {
	border: none;
}
.video-list {
	margin-left: -3%;
}
.video-list .entry {
    float: left;
    height: 270px;
    padding-left: 3%;
    width: 30.3333%;
}
.video-list .entry a  {
	display: block;
    height: 140px;
    overflow: hidden;
	border-radius: 3px;
    box-shadow: 0 4px 2px -3px rgba(28, 79, 157, 0.84);
	position: relative;
	cursor:pointer;
}
.video-list .entry a img {
	width: 100%;
}
.video-list .entry i {
	background: url('../img/play.png') no-repeat;
	display: block;
    height: 42px;
    left: 50%;
    margin: -26px 0 0 -30px;
    position: absolute;
    top: 50%;
    width: 60px;
	opacity: 0.6;
	
}
.video-list .entry a:hover i {
	opacity: 1;
}
.video-list .entry span {
	color: #555555;
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
	margin-top: 10px;
}
.images-prewiew {
	margin-left: -5%;
}
.images-prewiew a {
    border: 2px solid #ffe5b9;
    display: block;
	border-radius: 3px;
    float: left;
    height: 200px;
    margin-left: 5%;
    margin-right: -4px;
    margin-top: 20px;
    text-align: center;
    width: 20%;
}
.images-prewiew a img {
    margin-top: 5%;
    height: 90%;
    max-width: 90%;
}
.partners-page .col3 img {
	max-width: 70%;
    padding: 10px 0;
}
.doctors-rubrik-list {
	margin: 10px 0;
	margin-left: -3%;
}
.doctors-rubrik-list a {
	width: 30.3333%;
	margin-left: 3%;
	display: block;
	float: left;
	margin-bottom: 15px;
}
.doctors-rubrik-list a .in {
	border: 2px solid #c6d3e6;
	border-radius: 5px;
}
.doctors-rubrik-list a img {
	width: 100%;
}
.doctors-rubrik-list a span {
	display: inline-block;
    height: 40px;
    overflow: hidden;
    padding: 5px 15%;
    text-align: center;
    width: 70%;
}
.static-page .cont-r .img-left {
	float: left;
	margin: 0 25px 20px 0;
}
.otd-filter {
	background: #e8edf5;
	border-radius: 5px;
	padding: 8px 20px;
	margin-top: 20px;
}
.otd-filter .col3 {
	text-align: right;
}
.otd-filter select {
	width: auto;
}
.otd-filter a{
	cursor: pointer;
}
.comments {
	margin: 30px 0;
}
.comments ul li {
	margin-bottom: 20px;
	position: relative;
	padding: 0!important;
}
.comments ul .children {
	margin-top: 20px;
}
.comments ul .children  li {
    padding-left: 20px !important;
}
.comments ul li:before {
	background: none!important;
}
.comments ul li .name {
	font-weight: bold;
	margin-bottom: 20px;
}
.comments ul li .name span.date{
	font-weight: normal;
	color: #8da7ce;
}
.comments ul li .text{
	border: 1px solid #c8d5e7;
	padding: 15px 20px;
	border-radius: 8px;
	position: relative;
}
.comments ul li .text:before {
    background: url("../img/sprite.png") no-repeat -126px 2px #ffffff;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: -15px;
    width: 15px;
	left: 25px;
}
.comments ul .children li .text{
	background: #fffbf1;
	border: 1px solid #e9c079;
	padding: 15px 20px;
	border-radius: 8px;
}
.comments ul .children li .text:before {
    background: url("../img/sprite.png") no-repeat -126px -15px #ffffff;
}
.add-rewiew {
	padding: 25px 40px;
	border: 5px solid #ffca6f;
	margin: 20px 0;
	border-radius: 2px;
}
.add-rewiew-page {
	margin: 60px 0 20px;
}
.add-rewiew  .button {
	padding: 7px 40px;
	margin: 10px 0 0;
}
.add-rewiew .h2center {
    margin-top: -46px;
    text-align: center;
	margin-bottom: 20px;
}
.add-rewiew .h2center h2 {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    display: inline;
    padding: 0 15px;
}
.add-rewiew .form-body .line {
	margin-bottom: 12px;
}
.add-rewiew .form-body .line .col4 {
	padding-bottom: 3px;
}
.add-rewiew .form-body .line .col4 span {
	color: #ff3434;
}
.add-rewiew .form-body textarea {
	width: 95%;
	height: 80px;
	min-height: 80px;
}
.add-rewiew .form-body input[type="text"], .add-rewiew .form-body input[type="search"], .add-rewiew .form-body input[type="password"], .add-rewiew .form-body input[type="email"], .add-rewiew .form-body input[type="tel"] {
	width: 95%;
}
.add-rewiew .form-body select {
	width: 98%;
}
.add-rewiew .form-body .moder {
	color: #8da7ce;
	font-size: 13px;
	line-height: 16px;
	padding-top: 3px;
}
.prices {
	margin: 20px 0;
	border: 1px solid #d2dceb;
	border-radius: 5px;
	overflow: hidden;
}
.prices .tabs-block {
	width: 27%;
	float: left;
}
.prices .price-block {
	width: 73%;
	float: left;
}
.prices  .tabs {
	border-right: 1px solid #d2dceb;
}
.prices  .tabs span {
	padding: 8px 15px;
	border-bottom: 1px solid #d2dceb;
	display: block;
	cursor: pointer;
}
.prices  .tabs span:hover {
	background: #eff4fa;
}
.prices  .tabs span.active {
	background: #1c4f9d;
	color: #FFFFFF;
}
.prices  .tabs span:last-child {
	border-bottom: none;
}
.prices .price-body {
	padding: 0 20px 20px;
	border-left: 1px solid #d2dceb;
	margin-left: -1px;
}
.prices .price-body h2 {
	margin-bottom: 15px;
	margin-top: 10px;
}
.prices .price-body ul li {
	padding: 5px 0 5px 20px;
    position: relative;
}
.prices .price-body ul li:before {
	color: #1c4f9d;
    content: "—";
    display: inline-block;
    height: 10px;
    left: 0;
    line-height: 18px;
    position: absolute;
    width: 20px;
}
.prices .price-body ul li b {
    color: #1c4f9d;
    float: right;
}
.prices .price-body .price {
	border-top: 1px solid #d2dceb;
	padding: 10px 20px;
	margin: 10px -20px;
}
.prices .price-body .price b {
	float: right;
	font-weight: normal;
	color: #1c4f9d;
}
.prices .price-body .price b.b {
	font-weight: bold;
	position: relative;
}
.prices .price-body .price b small {
	color: #ff3434;
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: right;
    top: 17px;
    width: 100px;
}
.q-a-otd {
    border: 1px solid #d2dceb;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 20px;
}
.q-a-otd a {
    border-bottom: 1px solid #d2dceb;
    display: block;
    margin: 0 -20px;
    padding: 7px 20px;
    text-decoration: none;
}
.q-a-otd a:hover {
	background: #eff4fa;
}
.q-a-otd a:last-child {
	border-bottom: none;
}
.q-a-otd a span {
	color: #888888;
	float: right;
}
.on_cifri {
	margin-top: 40px;
}
.on_cifri .col {
	text-align: center;
	margin-bottom: 20px;
}
.on_cifri b {
	border: 2px solid rgba(28, 79, 157, 0.6);
    border-radius: 100%;
    color: #ff6c00;
    display: block;
    font-family: "PT Sans",sans-serif;
    font-size: 30px;
    height: 90px;
    line-height: 90px;
    margin: 0 auto 10px;
    text-align: center;
    width: 90px;
}
.on_cifri span {
	color: #1c4f9d;
    display: inline-block;
    font-size: 15px;
    margin-top: 11px;
}
/* popup window*/
.popupWind {
    background: rgba(28, 79, 157, 0.2);
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1002;
	overflow-y: scroll;
	overflow-x: hidden;
}
.popupBg {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1002;
}
.popupPos {
    padding: 0 5%;
    position: absolute;
    top: 25%;
    width: 90%;
    z-index: 102;
}
.popupWindow {
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 0 auto 50px;
    padding: 30px 50px;
    max-width: 800px;
	border-radius: 5px;
}
.popupWindow .title {
    font-size: 15px;
	font-weight: 600;
	margin: 15px 0 0 0;
}
.popupWindow .title h4 {
    font-size: 33px;
    font-weight: normal;
    line-height: 35px;
}
.popupWindow .formBody iframe {
	width: 100%;
	height: 400px;
}
.closeBtn {
    border: 2px solid #ffffff;
    border-radius: 38px;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin: -30px -109px -30px 0;
    position: relative;
    text-align: center;
    width: 40px;
	text-decoration: none;
}
.closeBtn:hover {
    color: #ffffff;
    opacity: 0.5;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* popup window end*/
@media (max-width: 1000px) {
	.block {
		max-width: 740px;
	}		
	.content .cont-l {
		width: 200px;
	}
	.content .cont-r {
		width: 510px;
	}
	.content .cont-r .main-slider a img {
		max-width: 518px;
	}
	.hor-menu > ul > li > a {
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-weight: 600;
	}
	.header .line2 .top-teaser {
		display: none;
	}
	.header .line2 .top-phones {
		float: right;
		width: auto;
	}	
	.header .line2 .order-link {
		width: 40%;
	}
	.col4 {
		width: 100%;
		float: none;
	}
	.col3 {
		width: 100%;
		float: none;
	}
	.col3:nth-child(3){
		margin-left: 0;
	}
	.col2 {
		width: 100%;
		float: none;
	}
	.col7 {
		width: 100%;
		float: none;
	}
	.col6 {
		width: 100%;
		float: none;
	}
	.col {
		margin-left: 0;
	}
	.col:first-child {
		margin-left: 0;
	}
	.footer .col4 {
		width:23%;
		float:left;
	}
	.footer .col3 {
		width:31.3333%;
		float:left;
	}
	.footer .col2 {
		width:48%;
		float:left;
	}
	.footer .col6 {
		width:64.6666%;
		float:left;
	}
	.footer .col7 {
		width:73%;
		float:left;
	}
	.footer .col {
		margin-left: 4%;
	}
	.footer .col:first-child {
		margin-left: 0;
	}
	.footer .hor-menu > ul > li > a, .footer .mail-me span {
		font-size: 14px;
	}
	.doc-slider {
		float: left;
		width: 50%;
	}	
	.doc-sl-items {
		margin: 0;
		overflow: hidden;
		width: 227px;
	}
	.doc-q-main {
		float: left;
		width: 50%;
		margin-top: 15px;
		padding: 82px 0;
	}
	.doc-slider .doc-sl-control {
		right: 36px;
	}	
	.static-page .cont-r .main-img {
		display: block;
		float: none;
		margin: 0 0 20px;
		max-width: 200px;
		height: auto;
	}	
	.doctors-list .item {
		width: 31.3333%;
	}
	.otd-price .tabs span {
		padding: 7px 2.5%;
		text-align: center;
		width: 28.3333%;
	}
	.table4col .line .col3 {
		color: #1c4f9d;
		background: #f5f5f5;
	}
	.table4col .line .col3 {
		background: #f5f5f5;
		color: #1c4f9d;
		font-weight: bold;
	}	
	.table4col .line .td1 {
		padding: 5px 0 5px 4%;
		width: 6%;
	}	
	.table4col .line .td2 {
		width: 90%;
		padding: 5px 0;
	}
	.table4col .line:first-child .col3 {
		display: none;
	}
	.video-list .entry {
		width: 47%;
	}
	.images-prewiew a {
		width: 28%;
	}
	.doctors-rubrik-list a {
		width: 47%;
	}
	.otd-filter .col3 {
		text-align: center;
		padding-top: 15px;
	}
	.otd-filter select {
		width: 100%;
	}
	.add-rewiew .form-body .moder {
		padding-top: 10px;
	}
	.prices .tabs-block {
		width: 37%;
	}
	.prices .price-block {
		width: 63%;
	}
	.popupWindow {
		max-width: 580px;
	}
	.popupWindow .formBody iframe {
		height: 300px;
	}
	.on_cifri .col {
		text-align: left;
	}	
	.on_cifri .col3:after {
		clear: both;
		content: " ";
		display: block;
	}
	
.on_cifri b {
    display: block;
    float: left;
    font-size: 25px;
    height: 80px;
    line-height: 80px;
    margin: 0 20px 0 0;
    width: 80px;
}
	
.on_cifri span {
    color: #1c4f9d;
    display: block;
    font-size: 17px;
    padding-left: 100px;
	padding-top: 30px;
}
	.on_cifri .cifri_row2 {
		margin-top: 0;
	}
}

@media (min-width: 820px) {
	.fix-head  {
		background: #ffffff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		padding: 7px 0 3px;
		position: fixed;
		width: 100%;
		z-index: 1001;
		top: 32px;
		display: none;
	}
	.fix-head .header .logo {
		float: left;
		width: 10%;
	}
	.fix-head  .header .logo img {
		width: 35px;
	}
	.fix-head .header .header-right {
		float: left;
		width: 90%;
	}
	.fix-head .header .line1, .fix-head .header .line2 {
		display: none;
	}	
}

@media (max-width: 790px) and (min-width: 630px){
	.block {
		max-width: 600px;
		padding: 0 5px;
	}
	.header .logo {
		margin-top: -11px;
		width: 16%;
	}
	.header .logo img {
		width: 83%;
	}
	.header .header-right {
		margin-left: 2%;
		width: 82%;
	}	
	.header .hor-menu {
		height: 40px;
		margin-left: -105px;
	}	
	.content .cont-l {
		width: 180px;
	}
	.content .cont-r {
		margin-left: 10px;
		width: 400px;
	}	
	.hor-menu > ul > li > a {
		font-size: 16px;
	}
	.content .cont-r .main-slider a img {
		max-width: 398px;
	}
	.footer .line1 .col7 {
		float: none;
		width: 100%;
	}
	.footer .line1 .col4 {
		display: none;
	}
	.footer .line2 .col6 {
		width: 68.6666%;
	}
	.footer .line2 .col3 {
		width: 27.3333%;
	}	
	.footer .line2 .f-nums li {
		font-size: 15px;
		padding-right: 10px;
	}
	.entry-list .entry .img {
		float: none;
		margin-bottom: 10px;
		padding-top: 10px;
		width: 50%;
	}
	.entry-list .entry .text {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}
@media (max-width: 790px) {
	h2, .h2 {
		font-size: 21px;
		line-height: 25px;
	}
	.doc-slider {
		margin: 0 auto;
		width: 100%;
	}
	.doc-sl-items {
		margin: 0 auto;
		overflow: hidden;
		width: 227px;
	}
	.doc-slider .doc-sl-control {
		top: -19px;
		right: 0;
	}
	.doc-slider ul {
		margin-top: 20px;
	}
	.doc-q-main {
		margin: 20px 0 10px;
		padding: 12px 0;
		width: 100%;
	}
	.doctors-list .item {
		width: 48%;
	}
	.video-list .entry {
		height: 210px;
	}
	.video-list .entry a {
		height: 110px;
	}
	.images-prewiew a {
		width: 45%;
		height: 225px;
	}
	.add-rewiew .form-body input, .add-rewiew .form-body select {
		width: 95%;
	}
	.prices .tabs-block {
		float: none;
		width: 100%;
	}	
	.prices .price-block {
		width: 100%;
		float: none;
	}
	.prices .tabs {
		border-bottom: 2px solid #d2dceb;
		padding: 5px 15px 10px;
		border-right: none;
		background: #eff4fa;
	}
	.prices .tabs span {
		border-bottom: 1px dotted #1c4f9d;
		color: #1c4f9d;
		display: inline-block;
		margin: 5px;
		padding: 0;
	}
	.prices .tabs span.active {
		border-radius: 3px;
		padding: 0 10px;
	}
	.popupWindow {
		padding: 20px 30px;
	}
	.closeBtn {
		margin: -75px -30px -30px 0;
	}
	.fix-head {
		display: none!important;
	}
}
@media (max-width: 630px) {	
	.block {
		padding: 0 20px;
	}
	.mob-menu {
		display: block;
		margin: -15px auto 25px;
	}	
	.hor-menu {
		display: none;
	}	
	.header .logo {
		float: none;
		text-align: center;
		width: 100%;
	}	
	.header .header-right {
		float: none;
		width: 100%;
	}
	.header .header-right .region {
		float: none;
		margin: 10px 0 20px;
		width: 100%;
		text-align: center;
	}
	.header .header-right .region ul li {
		display: inline;
		float: none;
	}
	.header .header-right .search {
		display: none;
	}
	.header .line2 .order-link {
		float: none;
		text-align: center;
		width: 100%;
		margin: -15px 0 -5px
	}
	.header .line2 .top-phones {
		float: none;
		margin: 20px auto 0;
		width: 215px;
	}
	.header .line2 .top-phones .phones {
		margin-left: 6px;
		margin-top: 0;
		position: relative;
	}
	.content .cont-l {
		display: none;
		width: 200px;
	}	
	.content .cont-r {
		margin-left: 0;
		width: 100%;
	}
	.footer .line1 {
		padding: 0;
	}
	.footer .col4, .footer .col7 {
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.footer .col6, .footer .col3 {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.footer .line2 .col3 .text, .footer .line2 .social, .footer .line2 .text, .footer .line2 .f-nums, .footer .line3 .copiright {
		text-align: center;
	}
	.footer .line2 .text {
		margin-top: 10px;
	}
	.footer .mail-me {
		display: none;
	}
	.mob-menu .hor-menu-mob, .mob-menu .dep-menu {
		float: right;
		width: 45%;
		padding: 0 2.5%;
	}
	.mob-menu .dep-menu-btn > span, .mob-menu .main-menu-btn > span {
		border: 2px dotted #ff6c00;
		color: #ff6c00;
		border-radius: 5px;
		display: block;
		font-weight: 600;
		padding: 5%;
		text-align: center;
		width: 90%;
		font-size: 18px;
	}
	.mob-menu .main-menu-btn > span {
		border: 2px dotted #1c4f9d;
		color: #1c4f9d;
	}
	.mob-menu .hor-menu-mob .main-menu-mob , .mob-menu .dep-menu .menu-left {
		background: #ffffff;
		border: 5px solid #1c4f9d;
		border-radius: 10px 0 0 10px;
		display: none;
		left: 0;
		margin: 0 0 0 14%;
		position: absolute;
		top: 0;
		width: 85%;
		z-index: 101;
	}
	.mob-menu .dep-menu .menu-left {
		border: 5px solid #ff6c00;
		margin: 0 15% 0 -5px;
		border-radius: 0 10px 10px 0;
	}
	.mob-menu .dep-menu-btn:hover .menu-left {
		/*display: block;*/
	}
	.mob-menu .main-menu-btn:hover .main-menu-mob {
		/*display: block;*/
	}
	.mob-menu .hor-menu-mob .main-menu-mob  > ul > li > a {
		background: url("../img/left-menu-bg.png") repeat-x scroll center bottom #f9fbfd;
		border-radius: 3px;
		display: block;
		padding: 6px 15px;
		text-decoration: none;
	}
	.mob-menu .hor-menu-mob .main-menu-mob  > ul > li > a:hover {
		background: url("../img/left-menu-bg-a.png") repeat-x center bottom #f9fbfd;
	}
	.mob-menu .hor-menu-mob .main-menu-mob .drop-down-menu a {
		border-radius: 3px;
		display: block;
		line-height: 15px;
		padding: 6px 15px 6px 20px;
		position: relative;
		text-decoration: none;
	}
	.mob-menu .hor-menu-mob .main-menu-mob .drop-down-menu a:hover{
		background: rgba(28,79,157,0.1);
	}
	.mob-menu .hor-menu-mob .main-menu-mob .drop-down-menu a:before {
		background: url("../img/sprite.png") no-repeat -177px -3px;
		content: "";
		display: block;
		height: 10px;
		left: 5px;
		position: absolute;
		top: 8px;
		width: 10px;
	}	
	.doctors-list .item .title {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
		border: 0;
		font-size: 13px;
		color: #fff;
		display: block;
		left: 0;
		top: auto;
		opacity: 1;
		padding: 10px 20px;
		position: absolute;
		right: 0;
		text-align: center;
		text-decoration: none;
	}
	.doctors-list .item:hover .title {
		opacity: 1;
		top: auto;
	}
	.otd-price .tabs span {
		padding: 7px 4.5%;
		text-align: center;
		width: 24.3333%;
	}
	.doctors-rubrik-list a {
		width: 47%;
	}	
	.popupWindow .formBody iframe {
		height: 200px;
	}
}
@media (max-width: 400px) {	
	.1mob-menu .hor-menu-mob, .mob-menu .dep-menu {
		float: none;
		width: 80%;
		padding: 5px 10%;
	}
	.otd-price .tabs span {
		padding: 7px 0;
		text-align: center;
		width: 100%;
	}
	.entry-list .entry .img {
		float: none;
		margin-bottom: 10px;
		padding-top: 10px;
		width: 50%;
	}
	.entry-list .entry .text {
		float: none;
		margin-left: 0;
		width: 100%;
	}
	.video-list .entry {
		height: auto;
		margin-bottom: 30px;
		width: 97%;
	}	
	.video-list .entry a {
		height: auto;
	}	
	.video-list .entry a img {
		display: block;
	}
	.images-prewiew a {
		float: none;
		height: auto;
		margin: 30px auto;
		width: 80%;
	}
	.images-prewiew a img {
		height: auto;
		margin-bottom: 5%;
		margin-top: 5%;
		width: 90%;
	}
	.doctors-rubrik-list a {
		width: 97%;
	}
}